body {
    background-color: #072C42;
    margin: 0;
    font-family: "Inter", non-serif;
}

.body-img {
    width: 100vw !important;
}

#navcontainer {
    background-color: #146a9c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.nav-items {
    color: #EBE3D5 !important;
    font-size: 18pt;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.nav-items:hover {
    text-decoration: underline #FF9639;
    font-weight: bold;
}

#nav-pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 2em;
}

.fa-circle {
    color: #EBE3D5 !important;
    padding: 0 10px;
    font-size: 3px !important;
}

input {
    border-radius: 10px;
    background-color: #146a9c4d;
}